*{
  font-family: 'Josefin Sans', sans-serif;
}
.landingPage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
}
  .content {
    margin: 3rem 5rem;
    #logo{
      margin-bottom: 3rem;
    }
    // h1{
    // letter-spacing: 2px;
    // }
    // p{
    //   margin: 1rem 0;
    // }
    // input{
    //   width: 50%;
    // }
  }
  


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
